<script setup>
import { Head, Link } from "@inertiajs/vue3";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import { ChevronLeftIcon } from "@heroicons/vue/24/solid";
import { router } from "@inertiajs/vue3";

const props = defineProps(["cart", "totalPrice"]);

const updateCart = (id, quantity) => {
  router.patch(route("cart.updateCart", id), {
    quantity: quantity,
  });

  if (quantity == 0) {
    router.delete(route("products.delete", id));
  }
};
</script>

<template>
  <BasicLayout>
    <Head title="Cart" />

    <template #header>
      <div>
        <Weather />
      </div>
    </template>

    <div class="flex text-2xl font-bold mt-28 justify-center ml-auto mr-auto">
      CART
    </div>

    <div class="flex justify-center mt-10">
      <div class="flex flex-col max-w-fit w-3/4 border-r-2 border-zinc-200">
        <div class="overflow-x-auto">
          <div class="inline-block py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-left text-sm font-light">
                <thead class="border-b font-medium dark:border-neutral-500">
                  <tr>
                    <th scope="col" class="px-6 py-4">
                      Image
                    </th>
                    <th scope="col" class="px-6 py-4">
                      Name
                    </th>
                    <th scope="col" class="px-6 py-4">
                      Quantity
                    </th>
                    <th scope="col" class="px-6 py-4">
                      Price
                    </th>
                    <th scope="col" class="px-6 py-4">
                      Total
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <template v-if="cart">
                    <tr v-for="(details, id) in cart" :key="id" :data-id="id">
                      <td data-th="Product">
                        <div class="col-sm-3 hidden-xs my-4">
                          <img
                            :src="details['image']"
                            width="100"
                            height="100"
                            class="img-responsive"
                          />
                        </div>
                      </td>
                      <td data-th="Name">
                        <div class="col-sm-9 m-4 text-md text-center">
                          {{ details["title"] }}
                        </div>
                      </td>
                      <td data-th="Quantity">
                        <input
                          v-model="details.quantity"
                          type="number"
                          class="form-control quantity cart_update w-20 text-sm text-center"
                          min="1"
                          @keydown.enter="updateCart(id, details.quantity)"
                          @blur="updateCart(id, details.quantity)"
                        />
                      </td>
                      <td data-th="Price" class="text-center">
                        {{ details["price"] }} €
                      </td>
                      <td data-th="Price" class="text-center">
                        {{ details["price"] * details.quantity }}
                        €
                      </td>
                      <td class="actions" data-th="">
                        <Link
                          :href="route('cart.delete', id)"
                          :preserve-scroll="true"
                          as="button"
                          method="delete"
                          class="cart_remove mx-6 bg-red-400 rounded-xl"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-5 h-5"
                          >
                            <path
                              d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
                            />
                          </svg>
                        </Link>
                      </td>
                    </tr>
                  </template>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" style="text-align: right;">
                      <p class="text-xl my-8">
                        Total: {{ props.totalPrice }} €
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" style="text-align: right;">
                      <Link
                        :href="route('cart.deleteSession')"
                        class="text-gray-500"
                      >
                        <p class="mb-2">EMPTY CART</p>
                      </Link>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" style="text-align: right;">
                      <div class="flex justify-between">
                        <PrimaryButton class="bg-gray-400">
                          <Link :href="route('shop.show')" class="flex">
                            <ChevronLeftIcon class="h-4 w-4 mr-2" />
                            Continue Shopping
                          </Link>
                        </PrimaryButton>
                        <PrimaryButton class="bg-sky-300">
                          <Link
                            :href="route('checkout.checkout')"
                            method="POST"
                            as="button"
                            class="text-xl"
                          >
                            CHECKOUT
                          </Link>
                        </PrimaryButton>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BasicLayout>
</template>
