<script setup>
import { Head, Link } from "@inertiajs/vue3";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import Weather from "@/Components/Weather.vue";
</script>

<template>
  <BasicLayout>
    <Head title="Checkout" />

    <template #header>
      <div>
        <Weather />
      </div>
    </template>

    <section>
      <Link :href="route('checkout.checkout')" method="POST" as="button">
        Checkout
      </Link>
    </section>
  </BasicLayout>
</template>
