<script setup>
import { Head, Link } from "@inertiajs/vue3";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";

defineProps(["products"]);

const randomPosition = () => Math.floor(Math.random() * 50) + "px";
const randomRotation = () => Math.floor(Math.random() * 21) - 10;
</script>

<template>
  <Head title="Dashboard" />

  <BasicLayout>
    <template #header>
      <Weather />
    </template>
    <div class="mt-24">
      <p
        class="text-5xl font-bold text-center mb-8 hover:text-indigo-500 animate-breath"
      >
        DO YOU LOVE ANIMALS?
      </p>
    </div>

    <div
      class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <div
        v-for="product in products"
        :key="product.id"
        class="relative overflow-hidden rounded-lg shadow-lg"
        :style="{
          top: randomPosition(),
          left: randomPosition(),
          transform: 'rotate(' + randomRotation() + 'deg)',
        }"
      >
        <img
          :src="product.image"
          alt="Product image"
          class="w-full h-64 object-cover transition-transform duration-200 transform hover:scale-105"
        />
        <div
          class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-200"
        >
          <Link :href="route('shop.show')" class="text-white text-lg font-bold"
            >GO SHOP</Link
          >
        </div>
      </div>
    </div>
  </BasicLayout>
</template>
