<script setup>
import Weather from "@/Components/Weather.vue";
import { Head } from "@inertiajs/vue3";
import { Loader } from "@googlemaps/js-api-loader";
import { useForm } from "@inertiajs/vue3";
import { createApp, inject, ref } from "vue";
import InfoWindow from "@/Components/InfoWindow.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import InputError from "@/Components/InputError.vue";

const form = useForm(
  {
    name: "",
    desc: "",
    lat: null,
    lng: null,
  },
  {
    errors: {},
    message: "",
  }
);

const props = defineProps({
  markers: {
    type: Array,
    default: null,
  },
});

const route = inject("route");

const loader = new Loader({
  apiKey: "AIzaSyD0i41l2ul2EzSOVrZBG2lVECBMxQzuafs",
  version: "weekly",
});

let map = ref(null);
let prevMarker;

loader.load().then(() => {
  let myLatLng = { lat: 58.24806, lng: 22.50389 };
  let gmap = new google.maps.Map(map.value, {
    zoom: 8,
    center: myLatLng,
  });
  props.markers.forEach((marker) => {
    const storedMarker = new google.maps.Marker({
      position: {
        lat: marker.lat,
        lng: marker.lng,
      },
    });
    storedMarker.setMap(gmap);
    storedMarker.addListener("click", () => {
      const infoWindow = createInfoWindow(marker);
      infoWindow.open({
        anchor: storedMarker,
        map,
      });
    });
  });

  gmap.addListener("click", (mapsMouseEvent) => {
    if (prevMarker) {
      prevMarker.setMap(null);
    }
    let data = mapsMouseEvent.latLng.toJSON();
    prevMarker = new google.maps.Marker({
      position: data,
    });
    form.lng = data.lng;
    form.lat = data.lat;
    prevMarker.setMap(gmap);
  });
});

const createInfoWindow = (marker) => {
  const app = createApp(InfoWindow, { marker: marker });

  const content = document.createElement("div");
  app.mount(content);

  const infowindow = new google.maps.InfoWindow({
    content: content,
    ariaLabel: "Uluru",
  });
  return infowindow;
};

const submit = () => {
  form.post(route("marker.store"), {
    preserveState: true,
    onSuccess: () => {
      // form.reset();
    },
  });
};
</script>

<template>
  <Head title="Map" />

  <BasicLayout>
    <template #header>
      <div>
        <Weather />
      </div>
    </template>

    <div class="grid grid-cols-2 mt-20 max-h-min">
      <div class="h-screen-50% m-16" id="map" ref="map"></div>
      <div
        class="p-6 max-w-sm bg-white rounded-xl shadow-lg items-center space-x-4 mr-56 mb-8"
      >
        <form
          class="grid w-72 gap-4 mt-4 mb-4"
          @submit.prevent="submit"
          @input="form.clearErrors($event.target.name)"
        >
          <label class="text-xs" for="name">NAME</label>
          <input
            class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
            id="name"
            type="text"
            name="name"
            v-model="form.name"
          />
          <div v-if="form.errors.name" class="text-xs text-red-500">
            {{ form.errors.name }}
          </div>
          <label class="text-xs" for="desc">DESCRIPTION</label>
          <input
            class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
            id="desc"
            type="text"
            name="desc"
            v-model="form.desc"
          />
          <div v-if="form.errors.desc" class="text-xs text-red-500">
            {{ form.errors.desc }}
          </div>
          <label class="text-xs" for="lat">LATITUDE</label>
          <input
            class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
            id="lat"
            type="text"
            name="lat"
            v-model="form.lat"
          />
          <div v-if="form.errors.lat" class="text-xs text-red-500">
            {{ form.errors.lat }}
          </div>
          <label class="text-xs" for="lng">LONGITUDE</label>
          <input
            class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
            id="lng"
            type="text"
            name="lng"
            v-model="form.lng"
          />
          <div v-if="form.errors.lng" class="text-xs text-red-500">
            {{ form.errors.lng }}
          </div>
          <button
            class="w-full mx-auto mt-3 bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 border border-purple-700 rounded"
            type="submit"
          >
            ADD MARKER
          </button>
        </form>
      </div>
    </div>
  </BasicLayout>
</template>
