<script setup>
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { Head, Link } from "@inertiajs/vue3";

defineProps(["movies"]);
</script>

<template>
    <BasicLayout>
        <Head title="Movies" />

        <template #header>
            <div>
                <Weather />
            </div>
        </template>
        <Link
            :href="route('other.index')"
            class="text-xl text-black/50 font-extrabold m-24 hover:text-indigo-500"
            >BACK</Link
        >
        <div
            class="container mx-auto px-4 py-16 grid gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
            <div
                v-for="movie in movies"
                :key="movie.id"
                class="bg-white rounded-lg shadow-lg overflow-hidden p-4"
            >
                <img
                    :src="movie.image"
                    alt="Movie Poster"
                    class="w-full h-80 object-cover"
                />
                <div class="p-4">
                    <h2
                        class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-stone-500 relative inline-block text-white mb-4 h-12"
                    >
                        <span class="relative text-lg font-bold">
                            {{ movie.title }}</span
                        >
                    </h2>
                    <p class="text-gray-600 mb-4 h-48">
                        {{ movie.description }}
                    </p>
                    <div
                        class="flex justify-between items-center font-bold bottom-0 inset-x-0"
                    >
                        <p class="text-gray-700">Rank: {{ movie.rank }}</p>
                        <p class="text-gray-700">
                            Rating: {{ movie.movie_rating }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </BasicLayout>
</template>
