<script setup>
import { Head, Link } from "@inertiajs/vue3";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
</script>

<template>
  <Head title="Dashboard" />

  <BasicLayout>
    <template #header>
      <Weather />
    </template>

    <div class="container mx-auto px-4 py-16 space-y-12">
      <div>
        <Link
          :href="route('movies.index')"
          class="text-2xl text-black/50 font-extrabold hover:text-indigo-500"
          >RALF'S MOVIES 🎬</Link
        >
      </div>
      <div>
        <Link
          :href="route('tech.index')"
          class="text-2xl text-black/50 font-extrabold hover:text-indigo-500"
          >JAN'S TECHS 📱</Link
        >
      </div>
      <div>
        <Link
          :href="route('animals.index')"
          class="text-2xl text-black/50 font-extrabold hover:text-indigo-500"
          >TENE'S ANIMALS 🐶
        </Link>
      </div>
    </div>
  </BasicLayout>
</template>
