<script setup>
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { Head } from "@inertiajs/vue3";
import { router } from "@inertiajs/vue3";
import { reactive } from "vue";

const props = defineProps(["products"]);
const quantities = reactive({});

function updateQuantity(productId, value) {
  quantities[productId] = parseInt(value) || 1;
}

function goSomewhere(product) {
  router.post(route("cart.addToCart", product.id), {
    quantity: quantities[product.id] || 1,
  });
}
</script>

<template>
  <BasicLayout>
    <Head title="Shop" />

    <template #header>
      <div>
        <Weather />
      </div>
    </template>

    <div
      class="container mx-auto px-4 py-16 grid gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 size-4/5"
    >
      <div
        v-for="product in products"
        :key="product.id"
        :product="product"
        class="bg-white rounded-lg line-clamp-3 hover:line-clamp-none shadow-lg overflow-hidden p-4"
      >
        <img
          v-if="product.image"
          :src="product.image"
          alt="Product image"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h2
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-slate-400 relative inline-block text-white mb-4"
          >
            <span
              class="relative text-2xl line-clamp-2 hover:line-clamp-none font-bold uppercase"
              >{{ product.title }}</span
            >
          </h2>
          <p
            class="text-gray-600 text-md mb-2 line-clamp-3 hover:line-clamp-none"
          >
            {{ product.description }}
          </p>
          <p
            class="text-gray-600 text-sm italic mb-4 line-clamp-3 hover:line-clamp-none"
          >
            {{ product.animal_type }}
          </p>
          <div class="flex justify-between items-center font-bold">
            <p class="text-slate-700 text-xl mr-0 ml-auto">
              {{ product.price }} EUR
            </p>
          </div>
          <div class="flex justify-between items-center font-bold mt-2">
            <input
              type="number"
              id="quantity"
              class="w-14 h-10 px-2 py-1 mr-0 ml-auto rounded-lg border border-gray-300 focus:outline-none focus:border-gray-500 text-center"
              min="1"
              :value="quantities[product.id] || 1"
              @input="updateQuantity(product.id, $event.target.value)"
              name="quantity"
            />
          </div>

          <div class="flex items-center justify-between mt-6">
            <button
              @click="goSomewhere(product)"
              type="submit"
              class="p-2 mx-auto bg-slate-500 text-white font-semibold rounded-lg text-lg hover:bg-slate-700 focus:outline-none focus:bg-slate-700"
            >
              ADD TO CART
            </button>
          </div>
        </div>
      </div>
    </div>
  </BasicLayout>
</template>
