<script setup>
import { Head } from "@inertiajs/vue3";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
</script>

<template>
  <Head title="Success" />

  <BasicLayout>
    <template #header>
      <Weather />
    </template>

    <div class="container flex mt-64 text-center md:mx-auto">
      <div class="text-5xl uppercase mx-auto text-slate-600 font-extrabold">
        🎉 Order successful! 🎉
      </div>
    </div>
  </BasicLayout>
</template>
