<script setup>
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { Head, Link } from "@inertiajs/vue3";

defineProps(["techs"]);
</script>

<template>
  <BasicLayout>
    <Head title="Technology" />

    <template #header>
      <div>
        <Weather />
      </div>
    </template>
    <Link
      :href="route('other.index')"
      class="text-xl text-black/50 font-extrabold m-24 hover:text-indigo-500"
      >BACK</Link
    >
    <div
      class="container mx-auto px-4 py-16 grid gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <div
        v-for="tech in techs"
        :key="tech.id"
        class="bg-white rounded-lg shadow-lg overflow-hidden p-4"
      >
        <img
          :src="tech.image_path"
          alt="Tech picture"
          class="w-full h-80 object-cover"
        />
        <div class="p-4">
          <h2
            class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-stone-500 relative inline-block text-white mb-4 h-12"
          >
            <span class="relative text-lg font-bold"> {{ tech.name }}</span>
          </h2>
          <p class="text-gray-600 mb-4 h-48">
            {{ tech.description }}
          </p>
          <div
            class="flex justify-between items-center font-bold bottom-0 inset-x-0"
          >
            <p class="text-gray-700 text-lg">
              Price: {{ parseFloat(tech.price).toFixed(2) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </BasicLayout>
</template>
