<script setup>
import GlowingButton from "@/Components/GlowingButton.vue";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { useForm } from "@inertiajs/vue3";

const form = useForm({
  title: "",
  description: "",
  animal_type: "",
  price: "",
  file: null,
});

const submit = () => {
  form.post(route("products.store"), {
    preserveState: false,
    onSuccess: () => {
      form.reset();
    },
  });
};
</script>

<template>
  <BasicLayout>
    <template #header>
      <div>
        <Weather />
      </div>
    </template>
    <div v-if="$page.props.auth.isAdmin">
      <div>
        <h1
          class="flex text-2xl font-bold mt-20 justify-center ml-auto mr-auto"
        >
          PRODUCT INFO
        </h1>
        <form
          class="grid w-72 gap-4 mt-10 mb-4 ml-auto mr-auto"
          @submit.prevent="submit"
        >
          <label for="title">NAME</label>
          <input type="text" name="title" v-model="form.title" />
          <label for="desc">DESCRIPTION</label>
          <input type="text" name="description" v-model="form.description" />
          <label for="price">ANIMAL TYPE</label>
          <input type="text" name="animal_type" v-model="form.animal_type" />
          <label for="price">PRICE</label>
          <input type="number" name="price" v-model="form.price" />
          <label for="image">IMAGE</label>
          <input
            type="file"
            class="block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100"
            @input="form.file = $event.target.files[0]"
          />
          <GlowingButton type="submit">ADD PRODUCT</GlowingButton>
        </form>
      </div>
    </div>
    <div v-else>
      <div class="flex text-2xl font-bold mt-40 justify-center ml-auto mr-auto">
        NO ACCESS!
      </div>
    </div>
  </BasicLayout>
</template>
