<script setup>
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { PencilIcon } from "@heroicons/vue/24/solid";
import { TrashIcon } from "@heroicons/vue/24/solid";
import { Link, router } from "@inertiajs/vue3";
import GlowingButton from "@/Components/GlowingButton.vue";

const props = defineProps(["products"]);

const destroy = (id) => {
  router.delete(`/product/${id}`);
};
</script>

<template>
  <BasicLayout>
    <template #header>
      <div>
        <Weather />
      </div>
    </template>

    <div v-if="$page.props.auth.isAdmin">
      <div
        class="flex justify-center ml-auto mr-auto mt-10 text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-700 to-pink-600"
      >
        LIST OF ALL PRODUCTS
      </div>
      <div class="flex justify-center">
        <GlowingButton type="submit"
          ><a href="/product/create">ADD NEW PRODUCT</a></GlowingButton
        >
      </div>
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-left text-sm font-light">
                <thead class="border-b font-medium dark:border-neutral-500">
                  <tr>
                    <th scope="col" class="px-6 py-4">Preview</th>
                    <th scope="col" class="px-6 py-4">Name</th>
                    <th scope="col" class="px-6 py-4">Description</th>
                    <th scope="col" class="px-6 py-4">Animal Type</th>
                    <th scope="col" class="px-6 py-4">Price</th>
                    <th scope="col" class="px-6 py-4">Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="border-b dark:border-neutral-500"
                    v-for="product in products"
                    :key="product"
                  >
                    <td class="whitespace-nowrap px-6 py-4">
                      <img
                        v-if="product.image"
                        class="h-20 w-20 aspect-square object-contain"
                        :src="product.image"
                      />
                      <p v-else>No image</p>
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ product.title }}
                    </td>
                    <td class="px-6 py-4">
                      {{ product.description }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ product.animal_type }}
                    </td>
                    <td class="whitespace-nowrap px-6 py-4">
                      {{ product.price }} EUR
                    </td>
                    <td class="whitespace-nowrap py-10 px-8 flex gap-4">
                      <Link :href="route('products.edit', product)">
                        <PencilIcon class="w-5 h-5 aspect-square mb-1" />
                      </Link>
                      <button @click="destroy(product.id)">
                        <TrashIcon class="w-5 h-5 aspect-square mb-1" />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="flex text-2xl font-bold mt-40 justify-center ml-auto mr-auto">
        NO ACCESS!
      </div>
    </div>
  </BasicLayout>
</template>
