<script setup>
import GlowingButton from "@/Components/GlowingButton.vue";
import Weather from "@/Components/Weather.vue";
import BasicLayout from "@/Layouts/BasicLayout.vue";
import { useForm } from "@inertiajs/vue3";

const props = defineProps({
  product: {
    type: Object,
    default: null,
  },
});

const form = useForm({
  title: props.product.title,
  description: props.product.description,
  animal_type: props.product.animal_type,
  price: props.product.price,
  file: props.product.file,
});

const submit = () => {
  form.put(route("products.update", props.product));
};
</script>

<template>
  <BasicLayout>
    <template #header>
      <div>
        <Weather />
      </div>
    </template>
    <div v-if="$page.props.auth.isAdmin">
      <div>
        <h1
          class="flex text-2xl font-bold mt-20 justify-center ml-auto mr-auto"
        >
          UPDATE PRODUCT
        </h1>
        <form
          class="grid w-72 gap-4 mt-10 mb-4 ml-auto mr-auto"
          id="update"
          @submit.prevent="submit()"
        >
          <label for="title">NAME</label>
          <input type="text" name="title" v-model="form.title" />
          <label for="desc">DESCRIPTION</label>
          <input type="text" name="description" v-model="form.description" />
          <label for="price">ANIMAL TYPE</label>
          <input type="text" name="animal_type" v-model="form.animal_type" />
          <label for="price">PRICE</label>
          <input type="number" name="price" v-model="form.price" />
          <label for="image">IMAGE</label>
          <input type="file" @input="form.file = $event.target.files[0]" />
          <GlowingButton type="submit">UPDATE PRODUCT</GlowingButton>
        </form>
      </div>
    </div>
    <div v-else>
      <div class="flex text-2xl font-bold mt-40 justify-center ml-auto mr-auto">
        NO ACCESS!
      </div>
    </div>
  </BasicLayout>
</template>
