<template>
    <p
        class="text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-700 to-pink-600 hover:text-indigo-800"
    >
        HAJUSRAKENDUS
    </p>
</template>