<script setup>
defineProps({
  type: {
    type: String,
    default: "submit",
  },
});
</script>

<template>
  <div
    class="inline-flex items-center px-4 py-2n bg-gray-50justify-center relative overflow-hidden sm:py-12"
  >
    <div class="inline-flex items-center px-4 mx-auto">
      <div class="relative group">
        <div
          class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
        ></div>
        <div
          class="relative px-4 py-3 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start"
        >
          <div class="space-y-2">
            <button :type="type">
              <slot />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
