<script setup>
import { router } from "@inertiajs/vue3";
import { ref } from "vue";
import Modal from "@/Components/Modal.vue";
import { useForm } from '@inertiajs/vue3';

const confirmMarkerUpdate = ref(false);

const props = defineProps({
    marker: {
        type: Object,
        default: null,
    },
});

const form = useForm({
    id: props.marker.id,
    name: props.marker.name,
    desc: props.marker.desc,
    lat: props.marker.lat,
    lng: props.marker.lng,
});

const deleteMarker = () => {
    router.delete(route("marker.destroy", props.marker.id), {
        preserveState: false,
    });
};

const confirmingUpdate = () => {
    confirmMarkerUpdate.value = true;
}

const updateMarker = () => {
    form.put(route('marker.update', form.id), {
        onSuccess: () => {closeModal()}
    });
};

const closeModal = () => {
    confirmMarkerUpdate.value = false;
}
</script>

<template>
    <div class="w-60 h-28">
        <h1 class="text-lg font-bold mx-auto uppercase">
            Name: {{ marker.name }}
        </h1>
        <p class="text-sm font-semibold mx-auto">Description:</p>
        <p class="text-xs mx-auto">{{ marker.desc }}</p>
    </div>
    <div class="grid grid-cols-2 gap-3">
        <button
    @click="confirmingUpdate"
    class="open-button w-full mx-auto mt-3 bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 border border-purple-700 rounded"
>
    Edit
</button>
        <button
            @click="deleteMarker"
            class="w-full mx-auto mt-3 bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 border border-purple-700 rounded"
        >
            Delete
        </button>
        <div>
        </div>
    </div>
    <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
    </div>

<section class="space-y-6">
<Modal :show="confirmMarkerUpdate" @close="closeModal">
    <div class="p-6 mt-4 text-center text-xl">
        <h2>Update marker info</h2>
    </div>
    <div class="ml-48 mt-9 mb-10">
        <form
            @submit.prevent="updateMarker"
            class="grid w-72 gap-4 mt-4 mb-4"
        >
            <label class="text-xs" for="name">NAME</label>
            <input
                class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
                type="text"
                name="name"
                id="name"
                v-model="form.name"
            />
            <label class="text-xs" for="desc">DESCRIPTION</label>
            <input
                class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
                type="text"
                name="desc"
                id="desc"
                v-model="form.desc"
            />
            <label class="text-xs" for="lat">LATITUDE</label>
            <input
                class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
                type="text"
                name="lat"
                id="lat"
                v-model="form.lat"
            />
            <label class="text-xs" for="lng">LONGITUDE</label>
            <input
                class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
                type="text"
                name="lng"
                id="lng"
                v-model="form.lng"
            />
            <button
                class="w-full mx-auto mt-3 bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 border border-purple-700 rounded"
                type="submit"
                :disabled="form.processing"
            >
                UPDATE MARKER
            </button>
            <div>
                <button class="w-full mx-auto text-center bg-gray-300 hover:bg-gray-200 font-bold py-2 border border-gray-300 rounded" @click="closeModal"> Cancel </button>
            </div>
        </form>
    </div>
</Modal>
</section>
</template>
