<template>
  <div class="marker-popup">
    <h3>{{ markerName }}</h3>
    <p>{{ markerDesc }}</p>
  </div>
</template>

<script setup>
defineProps(["markerName", "markerDesc"]);
</script>

<style scoped>
.marker-popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
</style>
