<script setup>
import { ref } from "vue";
import { useForm } from "@inertiajs/vue3";

const markerName = ref("");
const markerDescription = ref("");

const form = useForm({
  name: "",
  desc: "",
  lat: null,
  lng: null,
});

const props = defineProps({
  markers: {
    type: Array,
    default: null,
  },
});

const submit = () => {
  form.post(route("marker.store"), {
    preserveState: false,
    onSuccess: () => {
      form.reset();
    },
  });
};

const resetModal = () => {
  markerName.value = "";
  markerDescription.value = "";
};

const closeModal = () => {
  resetModal();
  window.location.reload();
};
</script>

<template>
  <div class="modal-overlay">
    <div
      class="modal p-6 max-w-sm bg-white rounded-xl shadow-lg items-center space-x-4 mb-8 mx-auto"
    >
      <div class="modal-content grid w-72 gap-4 mt-4 mb-4">
        <p class="text-center text-xl">Add Marker</p>
        <div>
          <form
            class="grid w-72 gap-4 mt-4 mb-4"
            @submit.prevent="submit"
            @input="form.clearErrors($event.target.name)"
          >
            <label class="text-xs" for="name">NAME</label>
            <input
              class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
              id="name"
              type="text"
              name="name"
              v-model="form.name"
            />
            <div v-if="form.errors.name" class="text-xs text-red-500">
              {{ form.errors.name }}
            </div>
            <label class="text-xs" for="desc">DESCRIPTION</label>
            <input
              class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
              id="desc"
              type="text"
              name="desc"
              v-model="form.desc"
            />
            <div v-if="form.errors.desc" class="text-xs text-red-500">
              {{ form.errors.desc }}
            </div>
            <label class="text-xs" for="lat">LATITUDE</label>
            <input
              class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
              id="lat"
              type="text"
              name="lat"
              v-model="form.lat"
            />
            <div v-if="form.errors.lat" class="text-xs text-red-500">
              {{ form.errors.lat }}
            </div>
            <label class="text-xs" for="lng">LONGITUDE</label>
            <input
              class="block text-gray-800 appearance-none border-b-2 border-gray-300 focus:text-gray-500 focus:outline-none focus:border-gray-700"
              id="lng"
              type="text"
              name="lng"
              v-model="form.lng"
            />
            <div v-if="form.errors.lng" class="text-xs text-red-500">
              {{ form.errors.lng }}
            </div>
            <button
              class="w-full mx-auto mt-3 bg-purple-700 hover:bg-purple-500 text-white font-bold py-2 border border-purple-700 rounded"
              type="submit"
            >
              Add Marker
            </button>
            <button @click="closeModal">CANCEL</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-content {
  max-width: 400px;
  margin: 0 auto;
}
</style>
