<script setup>
import { usePage } from "@inertiajs/vue3";

const weather = usePage().props.weather;
</script>

<template>
  <div class="pt-1">
    <p class="text-xl font-semibold">
      {{ weather.name }}, {{ weather.sys.country }}
    </p>
  </div>
  <div class="m-0 p-0 flex gap-4 text-sm">
    <p class="grid place-content-center">
      {{
        new Date(weather.dt * 1000).toLocaleString("en-GB", {
          timeZone: "UTC",
        })
      }}
    </p>
    <p class="grid place-content-center">
      Temperature: {{ weather.main.temp }}&degC
    </p>
    <p class="grid place-content-center">Wind: {{ weather.wind.speed }}m/s</p>
    <p class="grid place-content-center">
      {{ weather.weather[0].description }}
    </p>
    <div class="grid place-content-center">
      <img
        class="max-h-10"
        :src="
          'http://openweathermap.org/img/wn/' +
          weather.weather[0].icon +
          '@2x.png'
        "
      />
    </div>
  </div>
</template>
