<script setup>
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
import NavLink from "@/Components/NavLink.vue";
import { Link } from "@inertiajs/vue3";
import { ref } from "vue";
import { ShoppingCartIcon } from "@heroicons/vue/24/solid";

const showingNavigationDropdown = ref(false);
</script>

<template>
  <div>
    <div class="min-h-screen bg-gray-100">
      <nav class="bg-gradient-to-br from-cyan-50 to-indigo-400">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <!-- Logo -->
              <div class="shrink-0 flex items-center">
                <Link :href="route('dash.index')">
                  <ApplicationLogo
                    class="block h-9 w-auto fill-current text-gray-800"
                  />
                </Link>
              </div>
              <!-- Navigation Links -->
              <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink
                  :href="route('posts.index')"
                  :active="route().current('posts.index')"
                >
                  Blog
                </NavLink>
              </div>
              <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink
                  :href="route('shop.show')"
                  :active="route().current('shop.show')"
                >
                  Shop
                </NavLink>
              </div>
              <div
                class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                v-if="$page.props.auth.isAdmin"
              >
                <NavLink
                  :href="route('products.index')"
                  :active="route().current('products.index')"
                >
                  Products
                </NavLink>
              </div>
              <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink
                  :href="route('marker.index')"
                  :active="route().current('marker.index')"
                >
                  Map
                </NavLink>
              </div>
              <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink
                  :href="route('other.index')"
                  :active="route().current('other.index')"
                >
                  Muu huvitav
                </NavLink>
              </div>
            </div>

            <div class="flex">
              <div class="space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink :href="route('cart.cart')">
                  <button>
                    <div class="flex">
                      <ShoppingCartIcon class="w-6 h-6" />
                      <p class="bg-blue-300 rounded-full h-5 w-5">
                        {{ $page.props.cartCount }}
                      </p>
                    </div>
                  </button>
                </NavLink>
              </div>
              <div class="space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink :href="route('profile.edit')">
                  Profile
                </NavLink>
              </div>
              <div class="space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <NavLink :href="route('logout')" method="post" as="button">
                  Log Out
                </NavLink>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- Page Heading -->
      <header
        class="bg-gradient-to-tr from-cyan-50 to-indigo-400 shadow"
        v-if="$slots.header"
      >
        <div class="sm:px-6 lg:px-8">
          <slot name="header" />
        </div>
      </header>

      <!-- Page Content -->
      <main>
        <slot />
      </main>
    </div>
  </div>
</template>
